<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>
		고객 게시판
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <link href="/css/list.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show    bg-gray-100">
    <aside th:replace="question/aside.html :: aside" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main"></aside>
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    	<nav th:replace="question/nav.html :: nav" class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true"></nav>
        <div class="container-fluid py-4">
            
            <div class="row my-4">
                <div class="col-lg-11 col-md-11 mb-md-0 mb-2">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-lg-6 col-7">
                                    <h6>요청</h6>
                                    <p class="text-sm mb-0">
                                    	이 달 &nbsp;
                                        <i class="fa fa-check text-info" aria-hidden="true"></i>
                                        <span th:text="${monthComplete}+ ' 건'" class="font-weight-bold ms-1">30 건</span> 처리되었어요!
                                    </p>
                                </div>
                                <div class="col-lg-6 col-5 my-auto text-end">
                                	<a style="padding: 0.65rem 1.5rem;" class="btn bg-gradient-dark w-20" href="/question">등록</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                	<colgroup>
                                		<col width="5%">
                                		<col width="*%">
                                		<col width="5%">
                                		<col width="3%">
                                		<col width="5%">
                                		<col width="5%">
                                		<col width="3%">
                                		<col width="10%">
                                		<col width="10%">
                                	</colgroup>
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">번호</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">제목</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">답글</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">상태</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">작성자</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">소속</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">첨부파일</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">담당자</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">등록일</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">완료일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:each="question : ${questions}">
                                    		<td th:text="${question.id}"></td>
                                    		<td>
                                    			<a href="#" th:href="@{/question/{id} (id=${question.id})}" th:text="${question.title}"></a>
                                    		</td>
                                    		<td th:text="${question.replyCount}"></td>
                                    		<td th:text="${question.status}"></td>
                                    		<td th:text="${question.writerName}"></td>
                                    		<td th:text="${question.companyName}"></td>
                                    		<td><img th:if="${question.fileCount > 0}" src="/img/icon_file.gif" /></td>
                                    		<td th:text="${question.managerName}"></td>
                                    		<td th:text="${question.writeDate}"></td>
                                    		<td th:text="${question.completeDate}"></td>
                                    	</tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div style="margin-left: 10px;" th:text="'총 : '+ ${questions.totalElements} + '건'">
                            	
                            </div>
                            <!-- <div th:if="${questions.totalElements} > ${questions.pageable.pageSize}">-->
                            <div>
                            	<nav aria-label="Page navigation example"
                            		th:with="
						                pageNumber = ${questions.pageable.pageNumber},
						                pageSize = ${questions.pageable.pageSize},
						                totalPages = ${questions.totalPages},
						                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
						                tempEndPage = ${startPage + pageSize - 1},
						                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">
									<ul class="pagination justify-content-center">
							            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber+1} ? 'active'" class="page-item">
							                <a th:text="${page}" class="page-link" th:href="@{/questions(page=${page})}"></a>
							            </li>
							        </ul>
								</nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="question/footer.html :: footer" class="footer pt-3    "></footer>
        </div>
    </main>
	<div class="fixed-plugin ps">
		<a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
  			<i class="fa fa-cog py-2" aria-hidden="true"> </i>
  		</a>
	</div>
	<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    <!--     Core JS Files     -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
   
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>